<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- Capture image frames from camera and publish -->	
	<node pkg="cv_camera" type="cv_camera_node" name="cv_camera" output="screen">
		<param name="device_id" value="0"/>
		<param name="rate" value="30"/>
	</node>

	<node pkg="cv_pipeline" type="base_movement_cv.py" name="base_movement_cv"/>

	<!-- Open rqt to see results -->
	<node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" output="screen">
		<param name="image" value="/cv_camera/image_raw" />
	</node>

</launch>
