<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Argument for device id -->
  <arg
    name="cam1"
    value="0"
  />
  <!-- Publisher node -->
  <node
    pkg="cv_camera"
    type="cv_camera_node"
    name="camera1" 
    args="$(arg cam1)" >
  <remap from="cv_camera/image_raw" to="camera1/image_raw" />
  </node>
  <!-- Subscriber node -->
  <node
    pkg="image_view"
    type="image_view"
    name="image_view" >
  <remap from="image" to="camera1/image_raw" />
  </node>
</launch>

