<?xml version="1.0" encoding="utf-8"?>
<launch>

  <include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch"/>
  <include file="$(find cv_pipeline)/launch/start_motor.launch"/>
  <include file="$(find cv_pipeline)/launch/publish_values.launch"/>
  <include file="$(find cv_pipeline)/launch/move_group_arm.launch"/>

  <node name="move_base" pkg="cv_pipeline" type="move_base.py" respawn="false" output="screen">
  </node>

</launch>
