<?xml version="1.0" encoding="utf-8"?>
<launch>
	
	<!-- Run Arduino -->
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
            <param name="port" value="/dev/ttyACM0"/>
            <param name="baud" value="57600" />
    	</node>

	<!-- Pub message to OFF the motor at start -->
	<node pkg="rostopic" type="rostopic" name="start_motor" args="pub /toggle_motor std_msgs/Empty --once" output="screen"/>

</launch>
